[submodule "source/external/glfw"]
	path = source/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "source/external/glm"]
	path = source/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "source/external/freeglut"]
	path = source/external/freeglut
	url = https://github.com/FreeGLUTProject/freeglut.git
[submodule "source/external/eigen"]
	path = source/external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "source/external/json11"]
	path = source/external/json11
	url = https://github.com/dropbox/json11.git
