[submodule "source/external/glfw"]
	path = source/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "source/external/glm"]
	path = source/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "source/external/eigen"]
	path = source/external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "source/external/json11"]
	path = source/external/json11
	url = https://github.com/dropbox/json11.git
[submodule "source/external/imgui"]
	path = source/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "source/external/tinyobjectloader"]
	path = source/external/tinyobjectloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "source/external/stb"]
	path = source/external/stb
	url = https://github.com/nothings/stb.git
