#pragma once
#include "../../main/serializer/reflection.h"
#include "_generated/serializer/all_serializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace Sirion{
namespace Reflection{
    void TypeMetaRegister::metaRegister(){
{{#class_defines}}TypeWrappersRegister::{{class_name}}();
{{/class_defines}}
    }
}
}